@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow: hidden;
}
.project-box {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% center;
}
@media (max-width:730px) {
    .project-box {
        width: 60vmin;
        height: 84vmin;
    }
}
.react-multi-carousel-item {
    align-items: center;
    justify-content: center;
    display: flex;
}
.z-top {
    z-index: 99999;
}